.hamburger {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 10;
  border: none;
  background: transparent;
  cursor: pointer;
  color: black;
}

aside {
  top: 0;
  left: -100%;
  position: fixed;
  height: 100vh;
  width: var(--nav-width);
  max-width: 90%;
  transition: left 0.3s ease-in-out;
  z-index: 9;
}

aside.open {
  left: 0;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  aside {
    left: 0;
    transition: none;
  }
}

nav {
  width: 100%;
  height: 100%;
  background: var(--bg-2-color);
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

nav > .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--text-alt-color);
}

nav > .title > .icon {
  color: var(--primary-color);
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

nav > ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-alt-color);
  font-size: x-large;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  gap: 1rem;
}

nav > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

nav > ul li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav > ul li.active {
  background-color: rgba(0, 0, 0, 0.3);
  border: solid black;
  border-width: 0 0 0 0.25rem;
}

nav > .create-share {
  background: var(--bg-1-color);
  color: black;
  opacity: 100%;
  font-size: large;
  padding: 1rem;
}
