.update-share {
  overflow: hidden;
  width: 100%;
}

.update-share table {
  width: 100%;
}

.update-share table {
  border-collapse: collapse;
}

.update-share thead th {
  border-bottom: 0.25rem solid gray;
  color: #4e4e4e;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
}

.update-share tr {
  text-align: start;
  width: 100%;
}

.update-share th,
.update-share td {
  padding-top: 1rem;
  vertical-align: center;
}

.update-share td {
  padding-right: 1rem;
}

.update-share table td.type > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.update-share table tbody td.name input {
  width: 100%;
  border: none;
  outline: none;
  font-size: large;
}

.update-share table tbody td.name {
  width: auto;
}

.update-share input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.update-share table .file-upload-label {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #4e4e4e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.update-share table .file-upload-label:hover {
  opacity: 0.8;
}

.update-share table .file-icon {
  display: inline-block;
  color: #4e4e4e;
  border-radius: 4px;
  margin-right: 0.5em;
}

.update-share table .file-icon:hover {
  opacity: 0.8;
}

.update-share .delete {
  background: rgb(255, 0, 0, 0.8);
  padding: 0.4rem;
  border: none;
  width: 5rem;
  min-width: fit-content;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-share table .delete:hover {
  opacity: 80%;
}

.update-share .bottom-container > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.update-share .bottom-container > div > p.error-text {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.update-share .bottom-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.update-share .delete-share {
  padding: 0.8rem;
  font-size: large;
}

.update-share .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .update-share .created-column {
    display: none;
  }

  .update-share .delete-button {
    width: 100% !important;
  }
}
