.update-share {
  overflow: hidden;
  width: 100%;
}

.update-share table {
  width: 100%;
}

table {
  border-collapse: collapse;
}

thead th {
  border-bottom: 0.25rem solid gray;
  color: #4e4e4e;
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
}

tr {
  text-align: start;
  width: 100%;
}

th,
td {
  padding-top: 1rem;
  vertical-align: center;
}

td {
  padding-right: 1rem;
}

table td.type > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

table tbody td.name input {
  width: 100%;
  border: none;
  outline: none;
  font-size: large;
}

table tbody td.name {
  width: 16rem;
}

input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

table .file-upload-label {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #4e4e4e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

table .file-upload-label:hover {
  opacity: 0.8;
}

table .file-icon {
  display: inline-block;
  color: #4e4e4e;
  border-radius: 4px;
  margin-right: 0.5em;
}

table .file-icon:hover {
  opacity: 0.8;
}

.update-share .delete {
  background: rgb(255, 0, 0, 0.8);
  padding: 0.4rem;
  border: none;
  width: 5rem;
  min-width: fit-content;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

table .delete:hover {
  opacity: 80%;
}

.bottom-container > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.bottom-container > div > p.error-text {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.bottom-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.update-share .delete-share {
  padding: 0.8rem;
  font-size: large;
  float: right;
}

.update-share .confirm-popup {
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.update-share .confirm-popup p {
  font-size: larger;
}

.update-share .confirm-popup div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.update-share .confirm-popup button {
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}
