* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Consolas" monospace;
}

main {
  position: absolute;
  width: calc(100% - var(--nav-width));
  min-height: 100%;
  right: 0;
}

*,
html {
  scroll-behavior: smooth;
}

body {
  transition: all;
  margin: 0;
  height: 100vh;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.25rem;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 640px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 72rem;
  width: 100%;
  height: 100%;
  margin: 1rem 1.5rem;
  padding-top: 10vh;
}

@media (min-width: 768px) {
  .container {
    padding-top: 0;
  }
}

.error-text {
  color: #ef4444;
}

.error,
.success,
.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error {
  background-color: #dc2626;
  color: white;
}

.success {
  background-color: #059669;
  color: white;
}

.loading {
  background-color: #d97706;
  color: white;
}

table {
  border-collapse: collapse;
}

thead th {
  border-bottom: 0.25rem solid gray;
  color: rgb(78, 78, 78);
  text-align: left;
  border-left: none;
  border-right: none;
  border-top: none;
}

tr {
  width: 100%;
  text-align: start;
}

th,
td {
  padding-top: 1rem;
  vertical-align: center;
}

table .group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
