* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Consolas;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

main {
  position: absolute;
  width: calc(100% - var(--nav-width));
  min-height: 100%;
  right: 0;
  display: flex;
  justify-content: center;
}

*,
html {
  scroll-behavior: smooth;
}

body {
  transition: all;
  margin: 0;
  height: 100vh;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.25rem;
}

h1 {
  font-size: 2rem;
}

@media (min-width: 640px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 72rem;
  width: 100%;
  height: 100%;
  margin: 1rem 1.5rem;
  padding-top: 10vh;
}

@media (min-width: 768px) {
  .container {
    padding-top: 0;
  }
}

.error-text {
  color: #ef4444;
}

.error,
.success,
.loading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.error {
  background-color: #dc2626;
  color: white;
}

.success {
  background-color: #059669;
  color: white;
}

.loading {
  background-color: #d97706;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 10px;
  border: none;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: larger;
  gap: 1rem;
}

.button:hover {
  opacity: 80%;
}
